In [1]:
#improting librararies
import pandas as pd
import warnings
warnings.filterwarnings('ignore', 'The spaces in these column names will not be changed.')
import sqlite3

In [2]:
#creating data frame from CSV file
data = pd.read_csv("Real_Estate_Sales_2001-2020_GL.csv", low_memory=False)

In [3]:
data

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.463000,Commercial,NaN,NaN,NaN,NaN,NaN
1,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.588300,Residential,Single Family,NaN,NaN,NaN,NaN
2,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.724800,Residential,Condo,NaN,NaN,NaN,NaN
3,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.695800,Residential,Single Family,NaN,NaN,NaN,NaN
4,200377,2020,07/02/2021,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.595700,Residential,Single Family,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997208,190272,2019,06/24/2020,New London,4 BISHOP CT,60410.0,53100.0,1.137665,Single Family,Single Family,14 - Foreclosure,NaN,NaN,NaN
997209,190284,2019,11/27/2019,Waterbury,126 PERKINS AVE,68280.0,76000.0,0.898400,Single Family,Single Family,25 - Other,PRIVATE SALE,NaN,NaN
997210,190129,2019,04/27/2020,Windsor Locks,19 HATHAWAY ST,121450.0,210000.0,0.578300,Single Family,Single Family,NaN,NaN,NaN,NaN
997211,190504,2019,06/03/2020,Middletown,8 BYSTREK DR,203360.0,280000.0,0.726300,Single Family,Single Family,NaN,NaN,NaN,NaN
997212,190344,2019,12/20/2019,Milford,250 RESEARCH DR,4035970.0,7450000.0,0.541700,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#connecting to SQLite3/Creating Table from Dataframe
connection = sqlite3.connect("real_estate.db")

data.to_sql("real_estate_table", connection, if_exists="replace")

In [6]:
#Attaching Query to dataframe ing sql Table format
df = pd.read_sql_query("SELECT * FROM real_estate_table", connection)

In [7]:
df

,index,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,0,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.463000,Commercial,None,None,None,None,None
1,1,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.588300,Residential,Single Family,None,None,None,None
2,2,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.724800,Residential,Condo,None,None,None,None
3,3,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.695800,Residential,Single Family,None,None,None,None
4,4,200377,2020,07/02/2021,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.595700,Residential,Single Family,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997208,997208,190272,2019,06/24/2020,New London,4 BISHOP CT,60410.0,53100.0,1.137665,Single Family,Single Family,14 - Foreclosure,None,None,None
997209,997209,190284,2019,11/27/2019,Waterbury,126 PERKINS AVE,68280.0,76000.0,0.898400,Single Family,Single Family,25 - Other,PRIVATE SALE,None,None
997210,997210,190129,2019,04/27/2020,Windsor Locks,19 HATHAWAY ST,121450.0,210000.0,0.578300,Single Family,Single Family,None,None,None,None
997211,997211,190504,2019,06/03/2020,Middletown,8 BYSTREK DR,203360.0,280000.0,0.726300,Single Family,Single Family,None,None,None,None
997212,997212,190344,2019,12/20/2019,Milford,250 RESEARCH DR,4035970.0,7450000.0,0.541700,None,None,None,None,None,None

In [8]:
#This query generates all records from 2015 and above. Using the List Year column
year_q = pd.read_sql_query("SELECT * FROM real_estate_table WHERE [List Year] >= 2015 ORDER BY [List Year] ASC", connection)

In [9]:
year_q

,index,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,67760,1500560,2015,01/26/2016,Stamford,910 HOPE STREET 5B,117760.0,230000.0,0.512000,Condo,Condo,None,None,None,None
1,67761,15590,2015,05/03/2016,Milford,405 MARINERS WALK,109350.0,120000.0,0.911250,None,None,None,None,None,None
2,67762,150489,2015,05/24/2016,Bristol,BARLOW ST LOT 8-4,72800.0,62500.0,1.164800,None,None,None,None,None,None
3,67763,150859,2015,09/27/2016,Bristol,269 RIVERSIDE AVE,86660.0,165000.0,0.525212,None,None,None,None,None,None
4,67764,150047,2015,01/29/2016,Essex,GREAT MEADOW RD,5200.0,10000.0,0.520000,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318365,66827,20200144,2020,11/04/2020,Stratford,66 ACADEMY HILL TERRACE,213150.0,379000.0,0.562400,Residential,Single Family,None,None,None,None
318366,66828,200605,2020,12/11/2020,Waterbury,1103 COOKE ST,66210.0,158000.0,0.419000,Residential,Single Family,None,None,None,None
318367,66829,200547,2020,12/01/2020,Waterbury,45 DEERWOOD LANE #45-2,28100.0,30000.0,0.936667,Residential,Condo,25 - Other,PRIVATE SALE,None,POINT (-73.03103 41.59294)
318368,66830,200622,2020,04/29/2021,Torrington,21 PROSPECT ST UNIT 3,40190.0,52500.0,0.765500,Residential,Condo,None,None,None,POINT (-73.12447 41.79805)
318369,66831,201633,2020,05/18/2021,Waterbury,179 TRACY AVE,63180.0,107500.0,0.587700,Residential,Single Family,None,None,None,POINT (-73.03256 41.52819)

In [10]:
#converting the query into a table
df[df['List Year'] >= 2015].to_sql('year_q', connection, if_exists="replace")

In [11]:
year_q

,index,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,67760,1500560,2015,01/26/2016,Stamford,910 HOPE STREET 5B,117760.0,230000.0,0.512000,Condo,Condo,None,None,None,None
1,67761,15590,2015,05/03/2016,Milford,405 MARINERS WALK,109350.0,120000.0,0.911250,None,None,None,None,None,None
2,67762,150489,2015,05/24/2016,Bristol,BARLOW ST LOT 8-4,72800.0,62500.0,1.164800,None,None,None,None,None,None
3,67763,150859,2015,09/27/2016,Bristol,269 RIVERSIDE AVE,86660.0,165000.0,0.525212,None,None,None,None,None,None
4,67764,150047,2015,01/29/2016,Essex,GREAT MEADOW RD,5200.0,10000.0,0.520000,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318365,66827,20200144,2020,11/04/2020,Stratford,66 ACADEMY HILL TERRACE,213150.0,379000.0,0.562400,Residential,Single Family,None,None,None,None
318366,66828,200605,2020,12/11/2020,Waterbury,1103 COOKE ST,66210.0,158000.0,0.419000,Residential,Single Family,None,None,None,None
318367,66829,200547,2020,12/01/2020,Waterbury,45 DEERWOOD LANE #45-2,28100.0,30000.0,0.936667,Residential,Condo,25 - Other,PRIVATE SALE,None,POINT (-73.03103 41.59294)
318368,66830,200622,2020,04/29/2021,Torrington,21 PROSPECT ST UNIT 3,40190.0,52500.0,0.765500,Residential,Condo,None,None,None,POINT (-73.12447 41.79805)
318369,66831,201633,2020,05/18/2021,Waterbury,179 TRACY AVE,63180.0,107500.0,0.587700,Residential,Single Family,None,None,None,POINT (-73.03256 41.52819)

In [12]:
#This query generates all "condo" records from Property Type Column and Residential Type Column
condo_q = pd.read_sql_query("SELECT * FROM real_estate_table WHERE [Property Type] == 'Condo' AND [Residential Type] == 'Condo' ORDER BY [List Year] ASC", connection)

In [13]:
condo_q

,index,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,67070,60228,2006,07/05/2007,Bethel,10 HUNTINGTON COURT,120960.0,250000.0,0.483840,Condo,Condo,None,None,None,None
1,67075,60075,2006,04/05/2007,Essex,7 PRATT ST,143400.0,339500.0,0.422386,Condo,Condo,None,None,None,None
2,67080,60416,2006,05/25/2007,Newington,29 STERLING DR,221970.0,340000.0,0.652853,Condo,Condo,None,None,None,None
3,67083,60537,2006,08/31/2007,Branford,91 JEFFERSON WOODS,118800.0,210000.0,0.565714,Condo,Condo,None,None,None,None
4,67085,60421,2006,05/08/2007,Glastonbury,9 BOXWOOD LN,84000.0,174000.0,0.482759,Condo,Condo,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105415,997168,1900695,2019,02/24/2020,Stamford,39 WOODWAY ROAD UNIT C6,188410.0,379000.0,0.497124,Condo,Condo,07 - Change in Property,None,TOTAL RENOVATION PER MLS - SEE PREVIOUS SALE #...,POINT (-73.51447 41.10279)
105416,997171,190079,2019,03/06/2020,Prospect,56 TAMARACK CT,8750.0,356021.0,0.024600,Condo,Condo,07 - Change in Property,None,None,None
105417,997177,190285,2019,05/18/2020,Wethersfield,89 OXFORD ST,95760.0,130900.0,0.731600,Condo,Condo,None,None,None,None
105418,997191,190095,2019,12/09/2019,Windsor,31 HUDSON LN,176890.0,257500.0,0.687000,Condo,Condo,None,None,None,None
105419,997199,190159,2019,12/13/2019,Wallingford,530-A5 CENTER ST,128700.0,175000.0,0.735400,Condo,Condo,None,None,None,None

In [14]:
#Again turning that into the query from above into a table
df[(df['Property Type'] == 'Condo') & (df['Residential Type'] == 'Condo')].to_sql('condo_q', connection, if_exists="replace")

In [15]:
condo_q

,index,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,67070,60228,2006,07/05/2007,Bethel,10 HUNTINGTON COURT,120960.0,250000.0,0.483840,Condo,Condo,None,None,None,None
1,67075,60075,2006,04/05/2007,Essex,7 PRATT ST,143400.0,339500.0,0.422386,Condo,Condo,None,None,None,None
2,67080,60416,2006,05/25/2007,Newington,29 STERLING DR,221970.0,340000.0,0.652853,Condo,Condo,None,None,None,None
3,67083,60537,2006,08/31/2007,Branford,91 JEFFERSON WOODS,118800.0,210000.0,0.565714,Condo,Condo,None,None,None,None
4,67085,60421,2006,05/08/2007,Glastonbury,9 BOXWOOD LN,84000.0,174000.0,0.482759,Condo,Condo,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105415,997168,1900695,2019,02/24/2020,Stamford,39 WOODWAY ROAD UNIT C6,188410.0,379000.0,0.497124,Condo,Condo,07 - Change in Property,None,TOTAL RENOVATION PER MLS - SEE PREVIOUS SALE #...,POINT (-73.51447 41.10279)
105416,997171,190079,2019,03/06/2020,Prospect,56 TAMARACK CT,8750.0,356021.0,0.024600,Condo,Condo,07 - Change in Property,None,None,None
105417,997177,190285,2019,05/18/2020,Wethersfield,89 OXFORD ST,95760.0,130900.0,0.731600,Condo,Condo,None,None,None,None
105418,997191,190095,2019,12/09/2019,Windsor,31 HUDSON LN,176890.0,257500.0,0.687000,Condo,Condo,None,None,None,None
105419,997199,190159,2019,12/13/2019,Wallingford,530-A5 CENTER ST,128700.0,175000.0,0.735400,Condo,Condo,None,None,None,None

In [20]:
#Using INNER JOIN to merge year_q table and condo_q table on List Year Column to give me all "condo" data from 2105 and above
#side note had to limit to 900,000 because dataframe was too big
combined_query = "SELECT * FROM (SELECT * FROM real_estate_table WHERE [List Year] >= 2015) AS year_q INNER JOIN (SELECT * FROM real_estate_table WHERE [Property Type] = 'Condo' AND [Residential Type] = 'Condo') AS condo_q ON year_q.[List Year] = condo_q.[List Year] LIMIT 900000"
combined_df = pd.read_sql_query(combined_query, connection, if_exists="replace")

In [21]:
combined_df

,index,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,...,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,67760,1500560,2015,01/26/2016,Stamford,910 HOPE STREET 5B,117760.0,230000.0,0.512000,Condo,...,910 HOPE STREET 5B,117760.0,230000.0,0.512,Condo,Condo,None,None,None,None
1,67761,15590,2015,05/03/2016,Milford,405 MARINERS WALK,109350.0,120000.0,0.911250,None,...,910 HOPE STREET 5B,117760.0,230000.0,0.512,Condo,Condo,None,None,None,None
2,67762,150489,2015,05/24/2016,Bristol,BARLOW ST LOT 8-4,72800.0,62500.0,1.164800,None,...,910 HOPE STREET 5B,117760.0,230000.0,0.512,Condo,Condo,None,None,None,None
3,67763,150859,2015,09/27/2016,Bristol,269 RIVERSIDE AVE,86660.0,165000.0,0.525212,None,...,910 HOPE STREET 5B,117760.0,230000.0,0.512,Condo,Condo,None,None,None,None
4,67764,150047,2015,01/29/2016,Essex,GREAT MEADOW RD,5200.0,10000.0,0.520000,None,...,910 HOPE STREET 5B,117760.0,230000.0,0.512,Condo,Condo,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899995,759503,15476,2015,03/14/2016,Milford,48 HARBORVIEW AVE,321770.0,489000.0,0.658016,Single Family,...,1922 LOGANS WAY,101850.0,150000.0,0.679,Condo,Condo,None,None,None,None
899996,759504,15405,2015,04/08/2016,Hartford,207 GREENFIELD ST,54564.0,85000.0,0.641929,Two Family,...,1922 LOGANS WAY,101850.0,150000.0,0.679,Condo,Condo,None,None,None,None
899997,759505,15575,2015,07/11/2016,East Hartford,10 BARBARA DR.,93810.0,158000.0,0.593734,Single Family,...,1922 LOGANS WAY,101850.0,150000.0,0.679,Condo,Condo,None,None,None,None
899998,759506,15938,2015,07/01/2016,Milford,4 SOUTHWICK CT NORTH,210030.0,280000.0,0.750107,Single Family,...,1922 LOGANS WAY,101850.0,150000.0,0.679,Condo,Condo,None,None,None,None
899999,759507,15433,2015,04/20/2016,Hartford,828 NEW BRITAIN AV,43226.0,134000.0,0.322582,Single Family,...,1922 LOGANS WAY,101850.0,150000.0,0.679,Condo,Condo,None,None,None,None